/*Fonts 
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Mono', monospace;
*/

/*header*/
nav{
    padding:2% 0;
}

nav a{
    display:inline-block;
    width:10%;
    border-radius:10px;
    text-align:center;
    color:#fff;
}
.orange{
    background-color:#FF764E;
    margin-left:10%;
}

.blue{
    background-color:#5ED3EB;
    margin-left: 0 24%;
}

.yellow{
    background-color:#FFCD69;
    margin-right:10%;
}

/*CTA section*/
.cta{
    position:relative;
}

.txt{
    position:absolute;
    bottom:45%;
}

.circleimage, .text{
    display:inline-block;
}

.circleimage{
    width:40%;
}

.text{
    width:55%
}

.circleimage img{
    border-radius:50%;
    width:80%;
    margin-left:9%;
}

.text div{
    width:80%;
    margin:0 auto;
    text-align:center;
}

/*Backgrouns Image*/
.bg-img{
    background-image:url('assets/footer_img.jpg');
    height:40vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
}

footer{
    background-color:#F9E7DC;
}